.displayNone{
    display: none;
}
.mycontent{
    position: fixed;
    top: 70px;
    left: 200px;
}

.width80{
    width: 80px;
    text-align: right;
    margin-right: 10px;;
}

.mybutton{
    width: 50px;
    height: 20px;
    background-color: #03a9f4;
    margin-right: 20px;
}

.searchRes{
    height: 800px;
    overflow-y: scroll;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,th {
    padding: 0;
}

.pure-table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}

.pure-table caption {
    color: #000;
    font: italic 85%/1 arial,sans-serif;
    padding: 1em 0;
    text-align: center;
}

.pure-table td,.pure-table th {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: .5em 1em;
}

.pure-table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

.pure-table td {
    background-color: transparent;
}

.pure-table-odd td {
    background-color: #f2f2f2;
}